@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #000;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and old Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
}
